{% extends 'base.html' %}

{% block body %}
<div id="header">
  <title>Mesa i965 CI results</title>
  <h1>Builds for {{ job }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <div class="section">
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        <th><a href="{{ request.path + '?sort_col=build_name&sort_section=builds' }}">Build Name</a></th>
        <th><a href="{{ request.path + '?sort_col=end_time&sort_section=builds' }}">Completed</a></th>
        <th><a href="{{ request.path + '?sort_col=pass_count&sort_section=builds' }}">Pass Count</a></th>
        <th><a href="{{ request.path + '?sort_col=filtered_pass_count&sort_section=builds' }}">Expected Failures</a></th>
        <th><a href="{{ request.path + '?sort_col=fail_count&sort_section=builds' }}">Fail Count</a></th>
      </tr>
      {% for build in builds %}
      <tr>
        {% if build["status"] == "unstable" %}
        <td class="unstable"><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% elif build["status"] == "failure" %}
        <td class="failure"><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% else %}
        <td><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% endif %}
        <td>{{ build["end_time"] }}</td>
        <td>{{ build["pass_count"] }}</td>
        {% if build["filtered_pass_count"] %}
        <td class="skip">{{ build["filtered_pass_count"] }}</td>
        {% else %}
        <td>{{ build["filtered_pass_count"] }}</td>
        {% endif %}
        {% if build["fail_count"] %}
        <td class="failure">{{ build["fail_count"] }}</td>
        {% else %}
        <td>{{ build["fail_count"] }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
